/* Generales */

* {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  margin: auto;
  background-color: #e8e8e8;
  font-family: "Noto Serif", serif;
}

header,
main,
.bg-color-content {
  max-width: 1920px;
  margin: auto;
}

.font-noto {
  font-family: "Noto Serif", serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.color-grey {
  color: #e8e8e8;
}

.color-dark-grey {
  color: #433a44;
}

.color-black {
  color: #1c1c1c;
}

.visited-black:visited {
  color: #1c1c1c;
}

.hover-black-alpha:hover {
  color: rgba(28, 28, 28, 0.5);
}

.color-red {
  color: #9b1700;
}

.hover-red:hover {
  color: #9b1700;
}

.hover-red-alpha:hover {
  color: rgba(155, 23, 0, 0.5);
}

.color-white {
  color: #ffffff;
}

.selected {
  text-decoration: underline;
}

.hover-underline:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.normal {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.thin-line-height {
  line-height: 25px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-120 {
  margin-bottom: 120px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-60 {
  padding-top: 60px;
}

.line-height-1dot4 {
  line-height: 1.4rem;
}

.line-height-1dot6 {
  line-height: 1.6rem;
}

.line-height-1dot8 {
  line-height: 1.8rem;
}

.line-height-2dot8 {
  line-height: 2.8rem;
}

.font-size-1dot8rem {
  font-size: 1.8rem;
}

.font-size-0dot8 {
  font-size: 0.8rem;
}

.font-size-0dot9 {
  font-size: 0.9rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto 15px auto;
  flex-wrap: wrap;
}

#header-container {
  margin: 0 15px 0 15px;
}

#oscarsclub-img {
  height: 3rem;
  width: 3rem;
}

@media only screen and (max-width: 768px) {
  header {
    text-align: center;
  }

  header ul {
    flex-direction: column;
  }

  div.logo-header {
    order: 2;
    width: 100%;
    margin-bottom: 15px;
  }

  div.links-header {
    order: 3;
    width: 100%;
    margin-bottom: 20px;
  }

  div.button-header {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
  }

  header ul li {
    margin-top: 10px;
  }
}

header ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.1rem;
  overflow: hidden;
}

header ul li {
  margin-left: 20px;
}

header ul a {
  color: #1c1c1c;
}

#logo-header-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.btn {
  background-color: #9b1700;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

button.btn-header {
  padding: 8px 20px 8px 20px;
}

#logo-oscars {
  font-size: 2rem;
}

#logo-club {
  font-size: 2rem;
}

#logo-text-header {
  margin-left: 10px;
}

/* Footer */

footer {
  background-color: rgb(67, 58, 68);
  padding: 15px 15px 15px 15px;
}

footer a {
  color: rgb(255, 255, 255);
}

footer a:visited {
  color: rgb(255, 255, 255);
}

footer a:hover {
  color: #9b1700;
}

footer ul {
  list-style-type: none;
}

#footer-links {
  display: flex;
  justify-content: space-between;
}

div#footer-links ul {
  display: flex;
}

#go-up-button {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: right;
}

@media only screen and (min-width: 769px) {
  div#footer-links li + li:before {
    content: " · ";
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 7px;
  }
  .oscars-max-width {
    max-width: 67%;
    margin: auto;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    text-align: center;
  }

  #footer-links,
  footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #footer-links ul:last-child {
    margin-top: 80px;
  }

  footer ul li {
    width: 100%;
  }
}

/* Main */
@media only screen and (max-width: 768px) {
  main {
    max-width: 95%;
    margin: auto;
  }

  #all-index-blocks {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .block-unete {
    width: 100%;
  }

  #clubes-tematicos-ls li {
    width: 100vw;
    margin: 15px 15px 15px 15px;
  }

  #clubes-tematicos-ls img {
    max-width: 95vw;
  }
  .li-children-film {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 33%;
    min-width: 350px;
  }

  .sesiones-sublist {
    margin-bottom: 60px;
  }

  #all-film-info-container {
    flex-wrap: wrap;
    margin: auto;
  }

  #info-film-container {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 769px) {
  main {
    max-width: 70%;
    margin: auto;
  }

  #clubes-tematicos-main-container {
    max-width: 1200px;
    margin: auto;
  }

  #all-index-blocks {
    display: flex;
    justify-content: space-evenly;
  }

  .block-unete {
    width: 42%;
  }

  #clubes-tematicos-ls li {
    max-width: 350px;
    min-width: 350px;
    margin: 15px 15px 15px 15px;
  }

  #clubes-tematicos-ls img {
    max-width: 350px;
  }

  #body-sesiones-container {
    display: flex;
    flex-direction: row;
    border-top-width: 4px;
    border-top-style: dotted;
    border-color: #9b1700;
  }

  #head-sesiones {
    margin: auto;
    max-width: 60vw;
  }

  .li-children-film {
    margin: 10px 20px 80px 20px;
    max-width: 33%;
    min-width: 180px;
  }

  .sesiones-sublist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #ficha-container {
    width: 40vw;
    min-width: 300px;
    margin-right: 20px;
  }

  #info-film-container {
    width: 60vw;
    min-width: 300px;
    text-align: justify;
    margin-left: 20px;
  }
}

.block-logo img {
  margin: 20px 20px 0 20px;
  height: 180px;
  width: 180px;
}

#block-unete-club-index {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#block-unete-club-index input {
  padding: 12px 0px 12px 10px;
  margin: 8px 0;
  border: 1px solid black;
  font-size: 1.1rem;
}

#index-form-fields {
  display: flex;
  flex-direction: column;
}

button.btn-register {
  padding: 14px 30px 14px 30px;
}

#clubes-tematicos-ls {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}

#clubes-tematicos-ls h2 {
  font-weight: normal;
  font-size: 1.4rem;
  margin-bottom: 10px;
  margin-top: 5px;
}

#clubes-tematicos-ls h2:before {
  color: #9b1700;
  content: " ···· ";
  margin-right: 8px;
}

#body-sesiones-container ul {
  list-style-type: none;
}

#films-covers-container li.li-parent-films:before {
  color: #9b1700;
  content: " ····· ";
  font-size: 1.8rem;
}

#films-covers-container li.li-parent-films {
  font-size: 1.4rem;
  font-weight: bold;
}

#films-covers-container {
  margin-top: 30px;
}

#menu-sesiones-container {
  margin-right: 60px;
}

.sesiones-sublist a {
  color: rgba(155, 23, 0, 1);
}

.li-children-film {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 13vw;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 8px;
}

.film-name {
  margin-top: auto;
}

.li-children-film img {
  width: 100%;
}

.sesiones-sublist p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 100%;
}

.sesiones-sublist a:visited {
  color: rgba(155, 23, 0, 1);
}

.li-children-film img:hover,
.film-name a p:hover,
.opacity-0dot5 {
  opacity: 0.5;
}

#breadcrumb-container {
  width: 25vw;
}

#ls-breadcrumb {
  display: flex;
  white-space: nowrap;
  list-style-type: none;
  flex-wrap: wrap;
}

#ls-breadcrumb li + li:before {
  content: " / ";
  font-size: 1rem;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 7px;
}

#all-film-info-container {
  display: flex;
}

#ficha-container p {
  margin: 4px 0 4px 20px;
  padding-right: 60px;
}

#ficha-container h3 {
  margin-top: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
  margin-bottom: 7px;
}

#info-film-container p {
  margin: 20px 0px;
  line-height: 1.6rem;
}

#info-film-container img {
  height: auto;
  width: 120px;
  float: left;
  margin-right: 1.5rem;
  border-radius: 50%;
  shape-outside: circle();
  margin-top: 15px;
}

.trailer-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.trailer-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#video-info-p {
  position: relative;
  bottom: 1.5%;
  font-style: italic;
}
